*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Karla' , sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    background: rgb(218, 211, 211);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
  height: 100%;
  width: 100%;
}

.logo1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 1;
}
.logo2{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    z-index: 1;
}

.logo-1-quizz{
    width: 15%;
  
}

.logo-2-quizz{
  width: 18%;
}

.intro-title{
    font-size: 2rem;
    font-weight: 700;
    color: hsla(231, 42%, 28%, 1);
}

.intro-text{
    font-weight: 400;
    color: hsla(231, 42%, 28%, 1);
    margin: 1rem 0 1.5rem 0;
    font-family: 'Inter', sans-serif;
}

.intro-button{
    background: hsla(230, 34%, 46%, 1);
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0.65rem 2.65rem;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.intro-button:hover,.quizz-button:hover{
    transform: scale(1.025);
}

.intro-button:active,.quizz-button:active{
    box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.radio-button {
    display: inline-block;
    border: 1px solid hsla(230, 34%, 46%, 1);
    color: hsla(231, 42%, 28%, 1);
    font-size: 1rem; 
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    border-radius: 16px;
    padding: 0.4rem 0.7rem;
    margin-right: 0.75rem;
    cursor: pointer;
    background-color: #f1f1f1;
  }
  
  .radio-button input[type="radio"] {
    display: none;
  }
  
  .radio-button input[type="radio"]:checked + span {
    background-color: #e0e0e0;
  }
  
  .radio-button input[type="radio"]:focus + span {
    outline: 2px solid #999;
  }
  
  .radio-button span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .App{
    background: hsla(220, 43%, 97%, 1);
    min-height: 780px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app-for-quizz{
    background: hsla(220, 43%, 97%, 1);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 6rem;
  }

  .quizz-button{
     padding: 0.75rem 1.25rem;
     font-size: 0.8rem;
     color: hsla(220, 43%, 97%, 1);
     font-weight: 600;
     background: hsla(230, 34%, 46%, 1);
     border: none;
     border-radius: 0.625rem;
  }

  .quizz-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .question-with-answers{
    border-bottom: 2px solid #DBDEF0;
    margin-bottom: 1.2rem;
    z-index: 2;
  }

  .question{
    color: #293264;
    font-weight: 700;
    font-size: 1.375rem;
    margin-bottom: 0.75rem;
  }

  .one-answer{
    margin-bottom: 0.8rem;
  }

  .checked-bottom-container{
    display: flex;
    align-items: center;
  }
  
  .checked-bottom-container, .answer-counter{
    margin-bottom: 0;
    margin-right: 1rem;
  }

  @media (min-width: 900px){
    #root{
      height: 100vh;
    }
  }









